@media (max-width: 500px){

    header {
        display: flex;
        justify-content: space-between;
        padding: 10px;
        background-color: var(--color-logo-three);
    }
    header img{
        max-width: 150px;
        position: relative;
    }
    
    /*This part of code is more clear to set the burger button
    The thing here is that you are only resizeing the grid of the nav
    From 0fr to 1fr(all tha nav) and you erase the overflow with hidden
    and you use a transition of grid-template-rows 0.5s ease-out using
    open classList in Javascript*/
    #animated-met {
        display: grid;
        overflow: hidden;
        grid-template-rows: 0fr; /*Here you define the start*/
        transition: grid-template-rows 0.5s ease-out; /*Here you define the transition */
    }
    #animated-met ul {
        overflow: hidden; /*Here you hidden the overflow*/
    }
    #animated-met.open {
        grid-template-rows: 1fr; /*Here you define the end*/
    }

    /*I learned the oposites of display and position
    position: absolute vs position:relative or static
    display: flex vs display: block
    display inline-block is for things that don't let interact directly like 'a' */
    .menuLinks {
        display: block; 
    }
    .menuLinks li a {
        width: 100%;
    }
    .menuLinks a:hover {
        background-color: var(--color-logo-two);
        color: var(--color-logo-three);
    }

    /*To set or resize the button and its content*/
    #myButton {
        display:block;
    }
    #myButton::before {
        content: "𓃑";
    }
    #myButton.open::before {
        content: "𓏬";
    }
    #myButton {
        font-size: 2rem;
        background: none;
        border: none;
        color: var(--color-logo-two);
        cursor: pointer;
        padding: 0 0.5rem 0.5rem;
        justify-self: end;
    }

    /*The part behind id for the nav and header of the page and the followig for the footer*/
    .footer-social{
        text-align: center;
        flex-direction: column;
        gap: 15px;
    }
    .footer-nav{
        grid-template-columns: 1fr;
        gap: 30px;
        padding: 0;
    }
    .footer-nav p{
        padding: 0 1rem;
    }
  
    .navigation-footer li a{
        font-size: 0.83rem;
    }
    .navigation-footer{
        flex-direction: row;
        gap: 30px;
    }
    .formDesign{
        display: none;
    }
    /*The code of above is used to the navigation and footer*/

    /*This code is for hero image*/
    .section-hero-image{
        background-image:linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.5)), url(../images/hero-image-products-mobile.webp);
        max-height: 40rem;
    }
    .hero-text{
        width: 95%;
    }
    .hero-text h1{
        font-size: 2.2rem;
    }
    .hero-text p{
        font-size: 0.9rem;
    }

    /*This code is for designing the second section part of the main*/
    .section-gallery{
        grid-template-columns: 1fr;
        padding: 40px 15px;
        gap: 10px;
    }
    #cards div:hover {
        box-shadow: none;
    }

    #cards div {
        max-height: 300px;
    }
    #buttonDisplay { 
        display: block;  
        width: 100%;
        padding: 10px 0;
        border: none;
        background-color: var(--color-logo-one);
        font-family: var(--font-title);
        font-size: 30px;
        color: var(--color-logo-three);
    }

    #buttonDisplay {
        display:block;
    }
    #buttonDisplay::before {
        content: "FILTER";
    }
    #buttonDisplay.open::before {
        content: "⇊⇊⇊⇊";
    }
    .menuLinksFilter a:hover{
        background-color: var(--color-logo-two);
        color: var(--color-logo-three);
    }

    .product-cards{
        display: grid;
        grid-template-columns: 1fr 1fr ;
    }
    
    #animated-metFilter {
        display: grid;
        overflow: hidden;
        grid-template-rows: 0fr; /*Here you define the start*/
        transition: grid-template-rows 0.5s ease-out; /*Here you define the transition */
    }
    #animated-metFilter ul {
        overflow: hidden; /*Here you hidden the overflow*/
    }
    #animated-metFilter.open {
        grid-template-rows: 1fr; /*Here you define the end*/
    }

    /*This following part of the code will be for designing modal dialog element*/
    .dialog-products{
        padding: 1rem;
        max-width: 250px;
        font-size: 1.1rem;        
    }
    .dialog-products img{
        max-width: 250px;
    }
}