@media (max-width: 500px){

    header {
        display: flex;
        justify-content: space-between;
        padding: 10px;
        background-color: var(--color-logo-three);
    }
    header img{
        max-width: 150px;
        position: relative;
    }
    
    /*This part of code is more clear to set the burger button
    The thing here is that you are only resizeing the grid of the nav
    From 0fr to 1fr(all tha nav) and you erase the overflow with hidden
    and you use a transition of grid-template-rows 0.5s ease-out using
    open classList in Javascript*/
    #animated-met {
        display: grid;
        overflow: hidden;
        grid-template-rows: 0fr; /*Here you define the start*/
        transition: grid-template-rows 0.5s ease-out; /*Here you define the transition */
    }
    #animated-met ul {
        overflow: hidden; /*Here you hidden the overflow*/
    }
    #animated-met.open {
        grid-template-rows: 1fr; /*Here you define the end*/
    }

    /*I learned the oposites of display and position
    position: absolute vs position:relative or static
    display: flex vs display: block
    display inline-block is for things that don't let interact directly like 'a' */
    .menuLinks {
        display: block; 
    }
    .menuLinks li a {
        width: 100%;
    }
    .menuLinks a:hover {
        background-color: var(--color-logo-two);
        color: var(--color-logo-three);
    }

    /*To set or resize the button and its content*/
    #myButton {
        display:block;
    }
    #myButton::before {
        content: "ìÉë";
    }
    #myButton.open::before {
        content: "ìè¨";
    }
    #myButton {
        font-size: 2rem;
        background: none;
        border: none;
        color: var(--color-logo-two);
        cursor: pointer;
        padding: 0 0.5rem 0.5rem;
        justify-self: end;
    }

    /*The part behind id for the nav and header of the page and the followig for the footer*/
    .footer-social{
        text-align: center;
        flex-direction: column;
        gap: 15px;
    }
    .footer-nav{
        grid-template-columns: 1fr;
        gap: 30px;
        padding: 0;
    }
    .footer-nav p{
        padding: 0;
    }
    .navigation-footer li a{
        font-size: 0.83rem;
    }
    .navigation-footer{
        flex-direction: row;
        gap: 30px;
    }
    .formDesign{
        display: none;
    }
    /*The code of above is used to the navigation and footer*/

    /*This line of code is to set a different background image*/
    .section-hero-image{
        background-image:linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.5)), url(../images/hero-image-reach-me-mobile.webp);
    }
    .first{
        display: block;

    }
    .form-method{
        max-width: 300px;
    }
    .form-method h2{
        font-family: var(--font-title);
        text-align: center;
        color: var(--color-logo-one);
        font-size: 1.9rem;
    } 
    #submit1:hover {
        background-color:var(--color-logo-one);
        color: var(--color-logo-three);
    }
    .thankspage{
        background-image:linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.5)), url(../images/hero-image-reach-me-mobile.webp);
    }
    .section-hero-image2{
        max-width: 320px;;
    }
    
    .section-hero-image2 h1{
        
        font-size: 2.6rem;
        
    }
    .section-hero-image2 h2{
        font-size: 1.8rem;
    }
    .section-hero-image2 p{
        font-size: 1.1rem;
    }
    
}