* {
    padding: 0;
    margin: 0;
}

:root {
    --font-paragraph: "Outfit", sans-serif;
    --font-title: "Emblema One", system-ui;
    --first-background-color: #0F0A0A;
    --second-background-color: #E4E6C3;
    --third-background-color: #F5EFED;
    --color-interchangeable: #05204A;
    --color-interchangable-two: #044389;
}

/*To erase every part of the extra decoration part*/
a, li{
    text-decoration: none;
    list-style: none;
}

/*The following code is for desing the header part of the page*/
header {
    background-color: var(--color-interchangeable);
    font-family: var(--font-title);
    color: var(--third-background-color);
}

.title {
    font-size: 1.8rem;
    max-width: 40px;
}

#myButton {
    font-size: 2rem;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    padding: 0 0.5rem 0.5rem;
    justify-self: end;
}

.companyName{
    justify-content: space-between;
}

/*The following code is for desing the navigation part of the page*/
nav {
    font-family: var(--font-paragraph);
    background-color: var(--second-background-color);
    text-align: right; 
}

#myButton::before {
    content: "𓃑";
}

#myButton.open::before {
    content: "𓏬";
}


ul.menuLinks li a {
    text-align: left;
    display: block;
    padding: .75rem 2vw;
    color: var(--color-interchangeable);
    font-weight: bold;
}

.current-page {
    background-color: var(--third-background-color);
    
}
/*The code of above is for designing the navigation bar and the footer*/

/*This code is for the main part of the page*/
#message {
    font-family: var(--font-title);
    color: var(--first-background-color);
    padding: 10px;
    text-align: center;
}

@keyframes slideRightToLeft {
    0% {
      transform: translateX(100%); 
    }
    100% {
      transform: translateX(-100%); 
    }
}

#cards div {
    background-color: var(--third-background-color);
    
    font-family: var(--font-paragraph);

    border-radius: 8px;
    max-width: 400px;
    margin: 10px auto;
    overflow: hidden;

    display: grid;
    grid-template-areas: 
    "name"
    "photograph"
    "description"
    "location"
    "button";
}

#cards div h2 {
    margin: 1rem 10px;
    grid-area: name;
}

#cards div img {
    grid-area: photograph;
    filter: saturate(50%); /*Here I used a CSS property effect*/
    transform: scaleX(-1) /*Here I used a CSS property effect*/
}

#cards div p{
    margin: 10px;    
    grid-area: description;
}

#cards div address{
    margin: 10px;
    grid-area: location;
}

#cards div button{
    grid-area: button;
    margin: 10px auto;
    font-family: var(--font-title);
    width: 120px;
    border: none;
    border-radius: 8px;
    background-color: #044389;
    padding: 10px;
    color: white;
    cursor: pointer;
    filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.5));
}
#cards div button:hover{
    filter: none;
}

#cards img {
    max-width: 100%;
    
    object-fit: cover;
    
}
@media only screen and (min-width: 38rem){
    #cards div {
        max-width: 600px;
        grid-template-areas: 
        "photograph name"
        "photograph description"
        "photograph location"
        "photograph button";
    }
    #cards div img {
        width: 220px;
        height: 100%;
        object-fit: cover;
    }
    #cards div:hover {
        box-shadow: 0 0 30px var(--color-interchangeable);
    }
    #message {
        animation: slideRightToLeft 13s linear infinite;
        
    }
}
@media only screen and (min-width: 64rem){
    #cards{
        padding: 10px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 10px;
    }
}
@media only screen and (min-width: 102rem){
    #cards{
        grid-template-columns: 1fr 1fr 1fr ;
    }
    
}

@media only screen and (min-width: 150rem){
    #cards{
        grid-template-columns: 1fr 1fr 1fr 1fr ;
    }
}