* {
    margin: 0;
    padding: 0;
}

:root {
    --paragraph-font: "Roboto Condensed", sans-serif;
    --header-font: "Big Shoulders Inline", sans-serif;
    --color-font: black;
    --primary-color: #3D2645;
    --secondary-color: #832161;
    --third-color: #F0EFF4;
}

/*To design the first part of the page header*/
header {
    background-color: var(--primary-color);
}

h1{
    color: var(--third-color);
    font-family: var(--header-font);
    font-size: 40px;
    height: 3.5em;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

h1 img {
    max-height: 100px;
    box-shadow: 5px 5px 10px black; 
}

/*This is for the navigation part*/
/*
nav ul{
    display: flex;
    justify-content: space-around;
    font-style: none;
    background-color: #000;
    padding: 15px 0;
}

nav ul li, nav ul li a {
    list-style: none;
    text-decoration: none;
    font-family: var(--paragraph-font);
}

.navigation a {
    text-align: center;
    padding: 10px 25px;
}

.navigation a {
	color: var(--third-color);
	font-weight: 700;
	transition: 0.5s;
	font-size: clamp(1rem, 2vmin, 1.5rem);
}
.navigation a:hover, navigation a:active {
	text-decoration: lightseagreen;
	background-color: #eee;
	color: var(--primary-color);
}*/
.navigation {
	margin: 0 auto;
	max-width: 760px;
}
.navigation li {
	display: none;
}
.navigation a {
	display: block;
	padding: 0.75rem;
	text-align: left;
	text-decoration: none;
	color: var(--primary-color);
	font-weight: 700;
	transition: 0.5s;
	font-size: clamp(1rem, 2vmin, 1.5rem);
}
.navigation a:hover, navigation a:active {
	text-decoration: lightseagreen;
	background-color: var(--primary-color);
	color: var(--third-color);
}
.show li {
	display: block;
    background-color: antiquewhite;
}

.navigation.show {
    padding: 1em;
}


/*This is for the three lines in the page to make it absolute in the top right of the page*/
#menu::before {
	content: "≡";
    color: #F0EFF4;
    position: absolute; 
    top: 1rem; 
    right: 1rem; 
    font-size: 2rem; 
}
#menu.show::before {
	content: "X";
    color: #F0EFF4;
}

.show li {
	display: block;
}

/*This is for the design of the main*/
main {
    display: flex;
    flex-direction: column;
    padding: 1em;
    gap: 1em;
}

main h1 {
    color: var(--primary-color);
    font-weight: bold;
    align-items: start;
    justify-content: start;
    max-height: 1em;
}

section{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: var(--third-color);
    border-radius: 8px;
    box-shadow: 5px 5px 10px black;
}

section h2 {
    background-color: var(--secondary-color);
    border-radius: 8px 8px 0 0;
    text-align: center;
    color: var(--third-color);
    font-family: var(--header-font);
    padding: 5px;
}

section ul {
    padding: 1em;
}

section li {
    margin-left: 28px;
}

figure{
    padding: 20px;
}

figure img {
    width: 100%;
    display: block;
    margin: auto;
    margin: 0 0 0.5em;
}

figcaption{
    text-align: center;
    font-family: var(--paragraph-font);
}

.third ul {
    display: flex;
    justify-content: center;
    gap: 1em;
    text-align: center;
    border-bottom: 1px solid rgb(198, 198, 198);
}

.third ul li, ul li a {
    list-style: none;
    text-decoration: none;
    font-family: var(--paragraph-font);
    color: var(--third-color);
}

.third ul li {
    margin: 0;
    background-color: black;
    padding: 5px 40px;
    border-radius: 8px;
}

/*This is for organizing the images and the caption of the page*/
#card {
    display: flex;
    flex-direction: column;
    gap: 25px;
    align-items: center;
}

#card div {
    text-align: center;
}

.completed h3{
    background-color: var(--primary-color);
    color: var(--third-color);
    width: 200px;
    padding: 1em;
    border-radius: 5px;
}
.not-completed h3{
    background-color: var(--secondary-color);
    color: var(--third-color);
    padding: 1em;
    width: 200px;
    border-radius: 5px;
}

#card {
    padding: 1em;
}
/*This is for the design of the footer*/
footer {
    background-color: var(--primary-color);
    color: var(--third-color);
    text-align: center;
    font-size: 1.3rem;
    font-family: var(--paragraph-font);
    padding: 1em;   
}